.tb{
    background-color: rgb(219, 113, 113);
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    margin: 20px 5px;
    width: 600px;
    }
#texto1{
    text-shadow: 5px 5px 10px rgb(184, 212, 62);
    font: bold 30px Trebuchet MS;
    width: 100%;
    }
#texto2{
    text-shadow: 5px 5px 10px rgb(55, 22, 133);
    font: bold 40px Trebuchet MS;
    width: 100%;
    }

body{
    margin: 100px auto;
    width: 600px;
    background-color: rgb(255, 188, 100);
}